.book-card {
    color: black;
    min-height: 60vh;
    max-height: 60vh;
    margin-bottom: 4vh;
    overflow-y: auto;
}

.book-image {
    max-height: 25vh;
}

.title {
    font-size: 1.8em;
}

@media only screen and (min-width: 1200px) {
    .book-card {
        max-width: 20vw;
    }
}